@tailwind base;
@tailwind components;
@tailwind utilities;

h1,h2,h3{
  text-transform: uppercase;
}
h1,.desch_image{
  animation: normal 2s ease-out titles;
}
@keyframes titles {
  0%{
    scale: 0.5;
    transform: translateY(30px);
  }
  100%{
    scale: 1;
    transform: translateY(0px);
  }
}
.marcs img:hover{
    scale: 1.1;
    transition:300ms scale;
}